<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DBBackupsSQL" value="exec dbo.backupdbs"/>
    <add key="AutomationServerUser" value="administrator"/>
    <add key="AutomationServer1" value="win2k3test"/>
    <add key="AutomationServer2" value="win2k3devdb"/>
    <add key="AutomationServer3" value="win2k8r2testdb"/>
    <add key="AutomationServer4" value="win2k8r2bi3"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
